.multi-line-placeholder {
  position: relative;
  display: inline-block;
  width: 100%;
}

.multi-line-placeholder textarea {
  width: 90%;
  height: 150px;
  padding: 15px;
  resize: none;
  font-size: 14px;
  line-height: 1.5;
  border: 0.5px solid #888888;
  border-radius: 8px;
}

.multi-line-placeholder .placeholder-text {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #aaa;
  pointer-events: none;
  font-size: 14px;
  line-height: 1.5;
}

.multi-line-placeholder textarea:focus + .placeholder-text,
.multi-line-placeholder textarea:not(:placeholder-shown) + .placeholder-text {
  display: none;
}