.Ing {
    padding: 2rem;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Ing > .icon {
    margin: 5rem 0 2rem;
}

.Ing .message {
    margin-bottom: 26rem;
    font-size: 30px;
    font-weight: bold;
    /* 행간 간격주기 */
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

@media (prefers-reduced-motion: no-preference) {
    .Ing .icon {
      animation: spinner infinite 9s linear;
    }
  }
  
  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }